.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
.vscode
.idea
.venv

#folders to ignore
data/derived/W1/
data/derived/W9/
data/munged/W1/
data/munged/W3/
data/munged/W6/
data/munged/W9/
data/training_data/derived/
example_data/
scripts/sandbox/ML/example_data/

#other files to ignore
*.DS_Store
*.pyc

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*.jpg
*.JPG
*.png

#ignore non-compressed & compressed model
model.joblib
model_cop.joblib
